/*
 *	Color map
 *
 *
 *	Light Blue (#20a0c8): Menu hover background, pagination hover background
 *	Red (#ff0000): table errors (generally form field errors)
 *	Dark gray (#222222): h2 text
 *	Lighter gray (#333333): input buttons, table data
 *	Yet lighter gray (#444444): h3 text
 *	Very light gray (#cccccc): pagination background
 *	Lightest gray (#eeeeee): menu li
 *
 *	Menu background: #ddd
 *	h0 text: #115fad
 *	pre: #0A0A8C;
 *	old info background color - #e8e8e8;
 *	old title background color - #115fad;
 */


html {
	font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
	margin: 0em;
	text-align: left;
	padding-left: 7px;
	padding-top: 100px;
	overflow: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
	height: 95%;
	padding: 0px;
}

#headerstuff {
	position: absolute; position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
	}

#disp {
	position: relative;
	top: 30px;
	left: 0;
	width: 100%;
	height: 95%;
	/* frame: 0px; */
	padding: 0px;
	text-align: left;
	line-height: 1.7em;
/*	color: #004994; */
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
	overflow: auto;
}

#logo {
	position: absolute; position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 120px;
	border: 2px;
/*	frame: 0px; */
	}

program_title, #program_title {
	position: absolute; position: fixed;
	top: 0;
	left: 120;
	height: 100px;
	width: 500px;
	border: 0px;
	padding-top: 5px;
	/* frame: 0px; */
	}
	
#login {
	position: absolute; position: fixed;
	top: 0;
	left: 620;
	height: 100px;
	width: 100%; /*450px; */
	border: 0px;
	/* frame: 0px; */
	font-size: 10pt; 
	}

.loginarea, .loginarea.td, .loginarea.input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt; 
}

table.loginarea {
	padding-top: 5px;
	}

#menu {
	position: relative;
	top: 100px;
	left: 0;
	width: 100%;
	height: 20px;
	border: 0px;
	/* frame: 0px; */
	text-align: left;
	line-height: 1.7em;
	}

#admin_menu {
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	height: 40px;
	border: 0px;
	/* frame: 0px; */
	text-align: left;
	line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 9pt;
	text-align: left;
      }

.rlc_menu {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	/* height: 40px; */
	border: 0px;
	/* frame: 0px; */
	text-align: left;
	line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	text-align: left;
      }

.rlc_menu a {
	/* -moz-border-radius:5px 5px 0 0; */
	background-color:#ddd;
	background-image:-moz-linear-gradient(#f0f0f0,#ddd);
	background-image:-ms-linear-gradient(#f0f0f0,#ddd);
	background-image:-webkit-linear-gradient(#f0f0f0,#ddd);
	background-image:linear-gradient(#f0f0f0,#ddd);
	background-repeat:repeat-x;
	border:1px solid #555;
	border-color:#eee #ccc #ccc #eee;
	border-radius:5px 5px 0 0;
	color:#333;
	float:left;
	padding:5px 15px;
	text-decoration:none;
	}

.rlc_menu a:hover {
	color: #ffffff;
	background-color:#080808;
	background-image:-moz-linear-gradient(#f0f0f0,#080808);
	background-image:-ms-linear-gradient(#f0f0f0,#080808);
	background-image:-webkit-linear-gradient(#f0f0f0,#080808);
	background-image:linear-gradient(#f0f0f0,#080808);
	background-repeat:repeat-x;
	}

#menu-select {
	background-color:#20a0c8;
	background-image:-moz-linear-gradient(#20a0c8,#ccc);
	background-image:-ms-linear-gradient(#20a0c8,#ccc);
	background-image:-webkit-linear-gradient(#20a0c8,#ccc);
	background-image:linear-gradient(#20a0c8,#ccc);
	background-repeat:repeat-x;
	}

.rlc_menu li {
	bottom:-1px;
	float:left;
	margin:0 3px 0 0;
	position:relative;
        }

.rlc_menu li.current a {
	background:#fff;
	border-bottom:1px solid #fff;
	}

.rlc_menu li.current a:hover {
	background:#fff;
	border-bottom:1px solid #fff;
	}

.rlc_menu nav {
	border-bottom:1px solid #ccc;
	padding:0 0 0 10px;
	/* zoom:1; */
	}

.rlc_menu nav:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	}

.rlc_menu ul {
	list-style:none;
	margin:0;
	padding:0;
	}

body.info {
	font-family: Arial, Helvetica, sans-serif; font-size: 14pt;
	/* margin-left: 30px; */
	text-align: left;
	padding: 0px;
	padding-top: 10px;
	padding-left: 50px;
}

p {
	font-size: 9pt; margin-left: 10px ;
 	font-family: Arial, Helvetica, sans-serif; color: #000000
}
h0 {
	font-size: 12pt; font-weight: bold; margin-left: 10px ; 
 	font-family: Arial, Helvetica, sans-serif; color: #115fad;
}
h1 {
	font-size: 14pt; font-weight: bold; margin-left: 10px ; 
 	font-family: Arial, Helvetica, sans-serif; color: #000000
}
h2 {
	 margin-left: 10px ; font-size: 12pt; font-weight: bold;
	 text-align: left;
	 font-style: italic;
	 font-family: Arial, Helvetica, sans-serif; color: #222222;
}
h3 {
	margin-left: 10px ; font-size: 10pt; font-weight: bold;
	font-family: Arial, Helvetica, sans-serif; color: #444444
}
h4 { 	font-size: 9pt; font-weight: bold; margin-left: 10px ; 
	font-family: Arial, Helvetica, sans-serif; color: #000000
}
h5 { 	font-size: 8pt; font-weight: normal; margin-left: 10px ; 
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif; color: #000000;
	padding: 0px;
}

pre {
	line-height: normal;
	color: #0A0A8C;
	font-family: "Courier New", Courier, mono; font-size: 9pt; 
	margin-left: 10px; background-color: #EEEEEE; padding-left: 20px;
	padding-top: 5px; padding-bottom: 5px; padding-right: 20px;
}

td {
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif; color: #333333;
}

td.loginarea {
	font-size: 10pt; 
	font-family: Arial, Helvetica, sans-serif; color: #333333;
}

td.error { 
	font-size: .7em;
	margin: 0px;
	margin-top: 0px;
	line-height: .3em;
	font-family: Arial, Helvetica, sans-serif; color: #FF0000;
	}

form { margin-bottom: 0px; }

input.button {
	font-size: 10pt; font-weight: bold; text-align: center;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif; color: #333333;
}

table {  margin-left: 0px}

ol {  
	margin-left: 40px; color: #333333; 
	font-family: Arial, Helvetica, sans-serif; font-size: 9pt
}

ul { 
	font-size: 9pt; ; margin-left: 30px; 
	font-family: Arial, Helvetica, sans-serif; color: #333333
}

#info {
	/* text-align: float; */
	line-height: 1.7em;
	color: #000000;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	padding-left: 49px;
}

#title {
	padding: 0;
	border: 0;
	background-color: #115fad;
	color: #ffffff;
	overflow: hidden;
}

.browse-sel {
	text-align: left;
	padding: 0;
	margin-top: 10px;
	margin-left: 0px;
}

.pages {
	text-align: left;
	list-style: none;
	padding: 0; margin: 0;
	overflow: auto;
}

.pages li {
	float: left;
	margin-right: 5px;
}

.pages a {
	padding: 3px;
	background-color: #CCCCCC;
	color: #000000;
}

.pages a:hover {
	background-color: #20a0c8;
	color: white;
	text-decoration: none;
}

.pages .prev-off, .pages .next-off {
	border: solid 1px black;
	padding: 1px 5px;
}
.pages .active {
	padding: 2px 5px 1px 5px;
	font-weight: bold;
}

/* The sort headings */

sort {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a.sn:link    { color: black; text-decoration: none; }
a.sn:visited { color: black; text-decoration: none; }
a.sn:hover   { color: black; text-decoration: none; }
a.sn:active  { color: black; text-decoration: none; }

a.sa:link    { text-decoration: none; color: green; }
a.sa:visited { text-decoration: none; color: green; }
a.sa:hover   { text-decoration: none; color: green; }
a.sa:active  { text-decoration: none; color: green; }
a.sa img {border: none; src="arrow_down.png"; }

a.sd:link    { color: red; text-decoration: none; }
a.sd:visited { color: red; text-decoration: none; }
a.sd:hover   { color: red; text-decoration: none; }
a.sd:active  { color: red; text-decoration: none; }
a.sd img {border: none; src="arrow_up.png"; }
